{% extends "FinanceBackOfficeBundle:Credits:index.html.twig" %}

{% block content %}
<h1>Ajouter un crédit </h1>
<br><br>

<div class="etapes_container">
    <div class="titre_etape">{% block titre_etape %}Compte{% endblock %}</div>
    <div class="etapes">
        <div class="etape {% block etape1 %} etape_current {% endblock %} " >1</div>
        <div class="etape {% block etape2 %} {% endblock %} ">2</div>
        <div class="etape {% block etape3 %} {% endblock %} ">3</div>
    </div>
</div>

<br>

<fieldset style="width : 400px ;">
<table  >
{% block contenu %}


{% include "::erreurs.html.twig" with { 'erreurs' : erreurs } %}


<form method="post">
<tr>
<td>Num Compte</td>
<td><input name="numCompte" type="text"></td>
</tr>
<tr>

<td colspan ="2"><input type="submit" value="Suivant" style="float : right ;"></td>
</tr>
</form>
{% endblock %}
</table>
</fieldset>

{% endblock %}