.clickable {
	cursor: pointer;
}

/* Zone Filtrage */
.filtrage
{
margin-bottom: 30px;
background-color: #DCDCDC;
padding: 20px 20px;
border-radius: 15px;
}
.filtrage table
{
width : 100%;
text-align : center ;
}
.filtrage table tr
{
margin-top : 5px ;
margin-bottom : 5px ;
}
.filtrage table td
{
padding : 5px ;
}

input,select
{
height: 30px;
width : 200px ;
border-radius: 5px;
}
input[type=submit]
{
background-color : #B3B3B3;
}
input[type=submit]:active
{
background-color : #CDCDCD;
}


/* Bouttons icones */
.edit_button {
	display : inline-table ;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-image: url('../images/iconesButtons/Icon_Edit.png');
	background-size: cover;
}

.print_button {
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-image: url('../images/iconesButtons/print.png');
	background-size: cover;
}

.show_button {
	display : inline-table ;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-image: url('../images/iconesButtons/show_button.png');
	background-size: cover;
}

.show_button:hover,.edit_button:hover,.print_button:hover {
	width: 31px;
}

/*  Détails sous format table */
.details_table {
	border-collapse: collapse;
}

.details_table tr {
	line-height: 2;
}

.details_table td {
	border: solid 1px gray;
	padding: 5px;
}

.details_table tr:nth-child(odd) {
	background-color: rgba(128, 128, 128, 0.3);
}

.details_table tr td:first-child {
	width: 300px;
	font-weight: bold;
}

.details_table ul {
	list-style: none;
}

/* Menu de la barre de navigation */


     

.bar_nav_main
{
padding: 0px 0px 40px;
width: 960px;
}  

.bar_nav_main a
{
color: #000;
font-size : 16px;
}  

.bar_nav_main a:hover {
	color: darkgray;
}


.bar_nav_main  .separateur
{
margin-left : 10px;
margin-right : 10px ;
}

.bar_nav_main>.option_level1
{
display : inline-block ;
}

.bar_nav_main>.option_level1:hover .dropDownList
{

display : block ;
animation-name : transistionMenu;
animation-duration : 2s;
animation-iteration-count : 1 ;
animation-timing-function : linear ;
}

.dropDownList {
	display :none ;
	position: absolute;
	padding-top : 5px ;
	width: 130px;
}

.dropDownList>ul {
	list-style: none;
	line-height: 2;
}

.active
{
color : #818181 !important ;
}
  

/* Détails box */
.details_box {
	display: none;
	z-index: 1;
	width: 100%;
	height: 200%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.9);;
}

.details_box>div:first-child {
	width: 70%;
	background: white;
	position: relative;
	top: 100px;
	margin: auto;
	border-radius: 30px;
}

.close_details_box_button {
	float: right;
	right: 0px;
	position: absolute;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-image: url('../images/iconesButtons/close.png');
	background-size: cover;
}

.close_details_box_button:hover {
	width: 33px;
	height: 33px;
}

.details {
	padding: 80px 40px;
}


.CSSTable table td ul
{
list-style: none;
}
/*Tableau Stantard*/
.CSSTable {
	margin: 0px;
	padding: 0px;
	width: 100%;
	border: 1px solid #000000;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.CSSTable table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.CSSTable tr:last-child td:last-child {
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.CSSTable table tr:first-child td:first-child {
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.CSSTable table tr:first-child td:last-child {
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
}

.CSSTable tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.CSSTable tr:hover td {
	
}

.CSSTable tr:nth-child(odd) {
	background-color: #e5e5e5;
}

.CSSTable tr:nth-child(even) {
	background-color: #ffffff;
}

.CSSTable td {
	vertical-align: middle;
	border: 1px solid #000000;
	border-width: 0px 1px 1px 0px;
	text-align: left;
	padding: 7px;
	font-size: 14px;
	font-family: Arial;
	font-weight: normal;
	color: #000000;
}

.CSSTable tr:last-child td {
	border-width: 0px 1px 0px 0px;
}

.CSSTable tr td:last-child {
	border-width: 0px 0px 1px 0px;
}

.CSSTable tr:last-child td:last-child {
	border-width: 0px 0px 0px 0px;
}

.CSSTable tr:first-child td {
	background: -o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cccccc
		), color-stop(1, #b2b2b2) );
	background: -moz-linear-gradient(center top, #cccccc 5%, #b2b2b2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc",
		endColorstr="#b2b2b2" );
	background: -o-linear-gradient(top, #cccccc, b2b2b2);
	background-color: #cccccc;
	border: 0px solid #000000;
	text-align: center;
	border-width: 0px 0px 1px 1px;
	font-size: 15px;
	font-family: Arial;
	font-weight: bold;
	color: #000000;
}

.CSSTable tr:first-child:hover td {
	background: -o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cccccc
		), color-stop(1, #b2b2b2) );
	background: -moz-linear-gradient(center top, #cccccc 5%, #b2b2b2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc",
		endColorstr="#b2b2b2" );
	background: -o-linear-gradient(top, #cccccc, b2b2b2);
	background-color: #cccccc;
}

.CSSTable tr:first-child td:first-child {
	border-width: 0px 0px 1px 0px;
}

.CSSTable tr:first-child td:last-child {
	border-width: 0px 0px 1px 1px;
}