{% extends "FinanceBackOfficeBundle:Comptes:index.html.twig" %}

{% block content %}

{% include "::erreurs.html.twig" with { 'erreurs' : erreurs } %}



<form  method="POST">
<fieldset >
<table style="width : 400px ;" >

<tr>
	<td>Num Compte</td>
	<td>{{ compte.numCompte }}</td>
</tr>
<tr>
	<td>Solde Actuel</td>
	<td>{{ compte.solde }} Dt</td>
</tr>
<tr>
	<td>Action</td>
	<td>{{ action|title }}</td>
</tr>
<tr>
	<td>Montant</td>
	<td><input name="montant" ></td>
</tr>
<tr>
	<td>Pièce d'identité</td>
	<td>
	 <input style=" height : initial ; width : initial ;  " type="radio" name="type_p" value="cin" ><span>CIN</span>  <input style=" height : initial ; width : initial ;  " type="radio" name="type_p" value="passeport" >Passeport 
<br>
	<input type="text" name="num_p" > 
	</td>
</tr>
<tr>
<td colspan=2><input type="submit" value="confirmer"></td>
</tr>
</table>
</fieldset>
</form>

{% endblock %}