{% extends "FinanceBackOfficeBundle:Comptes:new.html.twig"  %}

{% block titre_etape %}
Confirmation
{% endblock %}

{% block etape1 %} {% endblock %}

{% block etape2 %} etape_current {% endblock %}

{% block table %}
<form action="{{ path('confim_ajout_compte' , { 'id' : compte.numCompte } ) }}" method="post">
<fieldset >
<table style="width : 400px ;" >
<tr >
	<td>ID Compte</td>
	<td>{{ compte.numCompte }}</td>
</tr>
<tr>
	<td>Titulaire(s)</td>
	<td>
	
	{% for p in compte.proprietaires %}
	{{ p.nomPrenomOuRSocial }}<br>
	{% endfor %}

	</td>
</tr>
<tr>
	<td>Type de Compte</td>
	<td>{% if compte.type == 'CE' %}Compte Epargne {% else %}Compte Courant{% endif %}</td>
</tr>
<tr>
<td colspan="2"> 
<input type="submit" style="float : right ;">
</td>
</tr>
</table>
</fieldset>
</form>
{% endblock %}