{% extends "FinanceBackOfficeBundle:reports:report_template.html.twig" %}

{% block titre_report %}
Releve Bancaire
{% endblock %}

{% block contenu %}
<tr><td>ID Client</td><td>Cl125X01574</td></tr>
<tr><td>Ncin/N°Passeport Client</td><td>071793499</td></tr>
<tr><td>Nom</td><td>Amjed NOUIRA</td></tr>
<tr><td>Adresse</td><td>33 Rue de Holland El mourouj4</td></tr>
<tr><td>Tél</td><td>55335102</td></tr>
<tr><td>Liste des comptes</td><td><ul>
									<li>CE: 001380012365865 </li>
									<li>CC: 21321452665478925145</li>
								  </ul></td></tr>
<tr><td>Date d'abonnement</td><td>01/02/2013</td></tr>
<tr><td>Agence</td><td>Agence el mourouj1</td></tr>
<tr><td>Fonction</td><td>Etudiant</td></tr>
<tr><td>Etablissment</td><td>n/a</td></tr>
<tr><td>Date de naissance</td><td>06/01/1992</td></tr>
{% endblock %}