{% extends '::base.html.twig' %}


{% block accueil %}
active
{% endblock %}

{% block content %}
<style>
ul li 
{
line-height : 1.5 ;
}
</style>
<h1>Accueil </h1>
<br><br>
<h3><b>Actions Récentes </b></h3>
<br>
<ul style="margin-left : 20px ;">
<li>[26/01/2014 15:12]  Nouveau client : <a href="#">Mariem Nfaidh</a></li>
<li>[26/01/2014 15:02]  Clôture d'un crédit : <a href="#">CR01254188</a></li>
<li>[26/01/2014 15:32]  Création d'un crédit : <a href="#">CR0DO54188</a></li>
<li>[26/01/2014 14:16]  Ouverture d'un compte : <a href="#">C1254LDSF</a></li>
</ul>
{% endblock %}