<h2>Informations du Client</h2>
<br><br>
<table class="details_table">
<tr><td>Ncin Client</td><td>071793499</td></tr>
<tr><td>Nom</td><td>Amjed NOUIRA</td></tr>
<tr><td>Adresse</td><td>33 Rue de Holland El mourouj4</td></tr>
<tr><td>Tél</td><td>55335102</td></tr>
<tr><td>Liste des comptes</td><td><ul>
									<li>CE: 001380012365865 </li>
									<li>CC: 21321452665478925145</li>
								  </ul></td></tr>
<tr><td>Date d'abonnement</td><td>01/02/2013</td></tr>
<tr><td>Agence</td><td>Agence el mourouj1</td></tr>
<tr><td>Fonction</td><td>Etudiant</td></tr>
<tr><td>Etablissment</td><td>n/a</td></tr>
<tr><td>Date de naissance</td><td>06/01/1992</td></tr>
</table>
<div class="edit_button"></div><div class="print_button"></div>
