{% extends "::base.html.twig" %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/financebackoffice/js/villes.js') }}"></script>
<script>
for(var i=0 ; i < villes.length ; i++)
{
$('#villes').append("<option>"+villes[i]+"</option>");
}
</script>
{% endblock %}

{% block g_clients %}

active

{% endblock %}

{% block content %}
<h1>Liste des Clients</h1>
<br>
<div class="filtrage">
<h3>Critères</h3>
<form>
<table>
<tr>
<td>
Nom/Raison Social<br>
<input type="text" placeholder="Nom/R.Social">
</td>
<td>
NCIN<br>
<input type="text" placeholder="Ncin Client">
</td>
<td>
Ville<br>
<select id="villes">
</td>
</tr>

<tr>
<td>
N° Compte<br>
<input type="text" placeholder="Id Compte">
</td>
<td>

</td>
<td>
<input type="submit" value="Filtrer">
</td>
</tr>

</table>
</form>
</div>

<div class="CSSTable">
<table>
<tr>
<td>Id Client</td>
<td>Nom/R.Social</td>
<td>Adresse</td>
<td>Tél</td>
<td>Comptes</td>
<td width="70px">Actions</td>
</tr>

<tr>
<td>07179349</td>
<td>Amjed NOUIRA</td>
<td>33 Rue de holland El mourouj</td>
<td>55335102</td>
<td>
<ul>
<li>CE : 001380012365865</li>
<li>CC : 21321452665478925145</li>
</ul>
</td>
<td>
<div class="show_button"></div>
<div class="edit_button"></div>
</td>
</tr>

<tr>
<td>06548732</td>
<td>Mariem Nfaidh</td>
<td>50 Rue de paris, Raoued</td>
<td>20152364</td>
<td>
<ul>
<li>CE : 001380019365884</li>
</ul>
</td>
<td>
<div class="show_button"></div>
<div class="edit_button"></div>
</td>
</tr>
</table>
</div>

        <div class="details_box">
            <div >
                <div class="close_details_box_button clickable"></div>
                <div class="details">
  <center>           
                <!--  A Supprimer -->
                <h2>Informations du Client</h2>
<br><br>
<table class="details_table">
<tr><td>Ncin/N°Passeport Client</td><td>071793499</td></tr>
<tr><td>Nom</td><td>Amjed NOUIRA</td></tr>
<tr><td>Adresse</td><td>33 Rue de Holland El mourouj4</td></tr>
<tr><td>Tél</td><td>55335102</td></tr>
<tr><td>Liste des comptes</td><td><ul>
									<li>CE: 001380012365865 </li>
									<li>CC: 21321452665478925145</li>
								  </ul></td></tr>
<tr><td>Date d'abonnement</td><td>01/02/2013</td></tr>
<tr><td>Agence</td><td>Agence el mourouj1</td></tr>
<tr><td>Fonction</td><td>Etudiant</td></tr>
<tr><td>Etablissment</td><td>n/a</td></tr>
<tr><td>Date de naissance</td><td>06/01/1992</td></tr>
</table>
<div >
<div class="edit_button"></div><div class="print_button"></div>
</div>
    </center>               
                
                </div>
             </div>
        </div>
                

{% endblock %}