{% extends "::base.html.twig" %}

{% block g_clients %}

active

{% endblock %}

{% block content %}
<h1>Liste des Clients</h1>
<br>
<div class="filtrage">
<h3>Critères</h3>
<form>
<table>
<tr>
<td>
Nom/Raison Social<br>
<input type="text" placeholder="Nom/R.Social">
</td>
<td>
NCIN<br>
<input type="text" placeholder="Ncin Client">
</td>
<td>
Ville<br>
<input type="text" placeholder="Ville">
</td>
</tr>

<tr>
<td>
N° Compte<br>
<input type="text" placeholder="Id Compte">
</td>
<td>

</td>
<td>
<input type="submit" value="Filtrer">
</td>
</tr>

</table>
</form>
</div>

<div class="CSSTable">
<table>
<tr>
<td>Id Client</td>
<td>Nom/R.Social</td>
<td>Adresse</td>
<td>Tél</td>
<td>Comptes</td>
<td width="70px">Actions</td>
</tr>

<tr>
<td>07179349</td>
<td>Amjed NOUIRA</td>
<td>33 Rue de holland El mourouj</td>
<td>55335102</td>
<td>
<ul>
<li>CE : 001380012365865</li>
<li>CC : 21321452665478925145</li>
</ul>
</td>
<td>
<div class="show_button"></div>
<div class="edit_button"></div>
</td>
</tr>

<tr>
<td>06548732</td>
<td>Mariem Nfaidh</td>
<td>50 Rue de paris, Raoued</td>
<td>20152364</td>
<td>
<ul>
<li>CE : 001380019365884</li>
</ul>
</td>
<td>
<div class="show_button"></div>
<div class="edit_button"></div>
</td>
</tr>
</table>
</div>
{% endblock %}