{% extends "FinanceBackOfficeBundle:Clients:index.html.twig" %}


{% block content %}
<style>
#table_client_morale , #table_client_physique
{
display : none ;
}
</style>


<h1>Ajouter un client</h1>
<br><br>
<div class="etapes_container">
    <div class="titre_etape">{% block titre_etape %}Type du Client{% endblock %}</div>
    <div class="etapes">
        <div class="etape {% block etape1 %} etape_current {% endblock %} " >1</div>
        <div class="etape {% block etape2 %} {% endblock %} ">2</div>
        <div class="etape {% block etape3 %} {% endblock %} ">3</div>
    </div>
</div>
<br>
<fieldset style="width : 400px ;">
{% block contenu %}
<br><br>
<div class="banim_left_to_right">
<a href="{{ path('new_client_physique') }}">> Création d'un Client Physique</a>
</div>
<div class="banim_left_to_right">
<br>
<a href="{{ path('new_client_moral') }}">> Création d'un Client Moral</a>
</div>

{% endblock %}
</fieldset>

{% endblock %}


{% block javascript %}
{{ parent() }}
<script>
$('#nature_client').on('change',function(){
	
switch ($('#nature_client').val())
{
case 'physique' :  $('#form_displayed').html($('#table_client_physique').html());  break ;
case 'morale' : $('#form_displayed').html($('#table_client_morale').html());break ;
default :  $('#form_displayed').html('');break ;
}
});

$('select.villes').append("<option>Choisissez une ville</option>");
for(var i=0 ; i < villes.length ; i++)
{
$('select.villes').append("<option value='"+villes[i]+"'>"+villes[i]+"</option>");
}

</script>
{% endblock %}