{% extends "FinanceBackOfficeBundle:Clients:index.html.twig" %}


{% block content %}
<style>
#table_client_morale , #table_client_physique
{
display : none ;
}
</style>


<h1>Ajouter un client</h1>
<br><br>
<div class="etapes_container">
    <div class="titre_etape">{% block titre_etape %}Informations Client{% endblock %}</div>
    <div class="etapes">
        <div class="etape {% block etape1 %} etape_current {% endblock %} " >1</div>
        <div class="etape {% block etape2 %} {% endblock %} ">2</div>
    </div>
</div>
<br>
<fieldset style="width : 400px ;">
{% block contenu %}
<table>
<td width="50%">
Nature Client
</td>
<td>
<select id="nature_client">
<option value="">Choisissez nature client</option>
<option value="physique">Client Physique</option>
<option value="morale">Client Moral</option>
</select>
</td>
</table>
<br>

<div id="form_displayed">
</div>

</fieldset>

<div id="table_client_physique">
{% include 'FinanceBackOfficeBundle:Clients:form_client_physique.html.twig' with { 'form' : form_physique } %}
</div>

<div id="table_client_morale">
{% include 'FinanceBackOfficeBundle:Clients:form_client_moral.html.twig' with { 'form' : form_moral } %}
</div>

{% endblock %}


{% endblock %}


{% block javascript %}
{{ parent() }}
<script>
$('#nature_client').on('change',function(){
	
switch ($('#nature_client').val())
{
case 'physique' :  $('#form_displayed').html($('#table_client_physique').html());  break ;
case 'morale' : $('#form_displayed').html($('#table_client_morale').html());break ;
default :  $('#form_displayed').html('');break ;
}
});

$('select.villes').append("<option>Choisissez une ville</option>");
for(var i=0 ; i < villes.length ; i++)
{
$('select.villes').append("<option value='"+villes[i]+"'>"+villes[i]+"</option>");
}

</script>
{% endblock %}