{% extends "FinanceBackOfficeBundle:Clients:new.html.twig" %}

{% block titre_etape %}
Confirmation
{% endblock %}

{% block etape1 %}
{% endblock %}

{% block etape2 %}
etape_current
{% endblock %}

{% block contenu %}
<table class="table_details">
	<tr>
		<td>NCIN</td>
		<td>12547869</td>
	</tr>
	<tr>
		<td>Nom & Prénom</td>
		<td>Ben Salah Mohamed</td>
	</tr>
	<tr>
		<td>Nationnalité</td>
		<td>Tunisienne</td>
	</tr>
	<tr>
		<td>Date de Naissance</td>
		<td>01/02/1985</td>
	</tr>
	<tr>
		<td>Adresse</td>
		<td>33 Rue de Holland</td>
	</tr>
	<tr>
		<td>Ville</td>
		<td>El Mourouj</td>
	</tr>
	<tr>
		<td>N° Tél</td>
		<td>56932120</td>
	</tr>
</table>
<input type="submit" value="Enregistrer" style="float : right ;">
{% endblock %}